body {
    margin: 0px;
    min-height: 300vh;
    /* min-width: 100vw; */
    background: linear-gradient(45deg, #445f7e ,#6699b3 );
    background-repeat: no-repeat;
}

.cabecalho {
    background: linear-gradient(45deg, #5b84b3 ,#79c0d6);
    border-bottom: solid 5px #77ddeb;
    height: 110px;
    box-sizing: content-box;
}

.logo {
    display: inline-block;
    height: 100px;
    padding: 5px;
    
}
.logo img {
    height: 100%;
}

.menu-toggle {
    float: right;
    color: #eee;
    background-color: #555;
    border: solid 1px #777;
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    margin: 20px 15px;
}


.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
}

.menu ul {
    margin: 0px;
    padding: 25px;
}

.menu li {
    display: inline-block;
}

.cabecalho a {
    text-decoration: none;
    color: rgb(207, 239, 247);
    font-size: 1.3em;
}

.menu a {
    padding: 15px;
}

.autenticacao {
    float: right;
    height: 80px;
    padding: 50px;
}

.menu a:hover,
.menu a.selected {
    background-color: #49b6ec;
    border-radius: 25px;
    color: #000700;
}

.botao {
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px;
}

.destaque {
    background: linear-gradient(to left ,#4c6d8d ,#86c9eb);
    cursor: pointer;
    color:rgb(194, 236, 245);
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.meubotao {
    width: 500px;
    height: 80px;
    background: linear-gradient(to left ,#4c6d8d ,#86c9eb);
    cursor: pointer;
    color:rgb(194, 236, 245);
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 25px;
    transition: all 0.5s ease;
    
}

#lista-vagas .meubotao {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    justify-content: space-between;
    font-size:xx-large ;
    

}

#lista-vagas {
    width: 70%;
    margin: 0 auto;
    padding: 5px;
    
}

.meubotao:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right ,#9cd7e9 ,#9dd9f7);
    color: black; 
}

aside .destaque:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right ,#9cd7e9 ,#9dd9f7);
    color: black; 
}

@media(min-width: 329px) {
    .menu-toggle {
        display: none;
        
    }
}

@media(max-width: 880px) {
    .menu {
        display: none;
    }
}
   
@media(max-width: 1200px) {
    .autenticacao {
        display: none;
        
    }
}
/*começando menu lateral */
.menulateral{
    box-sizing: border-box;
    width: 200px;
    padding: 30px 2px;
    margin-top: 20px;    
}
.menulateral li a:hover{
    background-color: #0faada;
    color: black;
}
.menulateral li a{
    padding: 12px;
    text-decoration: none;
    color: rgb(194, 236, 245);
    display: block;
}
#pesquisa{
    width: 95%;
    font-size: 15px;
    padding: 5px;
    border: 1px solid black;
}
#menulink{
    list-style-type: none;
    padding: 2px;
    margin: 2px;
}
/* fim do menu lateral */

.btnvagas{
    border: none;
    border-radius: 25px;
    padding: 0,90rem 1,56rem;
    outline: none;
    background: linear-gradient(to left ,#4c6d8d ,#86c9eb);
    cursor: auto;
    color:rgb(194, 236, 245);
    font-size: 100%;
    font-weight: 500;
    transition: all 0.5s ease;
    min-width: 20%;
    margin-inline: 2%;
    margin-top: 2%;
    position: absolute;   
    display: inline;
    text-align: center;     
}
.btn{
    color: rgb(194,236,245);
   
}
.btnvagas:hover{
    letter-spacing: 0,031rem;
    background: linear-gradient(to right ,#9cd7e9 ,#9dd9f7);
    color: black; 
}




.carousel-item{
    padding: 0px;
}
.carousel-slide{
    height: 60%;
    width: 60%;
}
.container{
    max-width: 40%;
    max-height: auto;
}